
{% if latest_article_list %}
  <ul>
    {% for ktv in latest_article_list %}
      <li><a href="/uphero/{{ ktv.id }}">{{ ktv.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>No ktv is available</p>
{% endif %}

    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/uphero?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/uphero?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
